

.container {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    border-radius: 5% 5% 0 0;
    box-shadow: 0px 0px 20px 15px grey;
    margin: 0% 3%;


}

app-about-qualifications {
    width: -webkit-fill-available;
}


a {
    font-family: "Oswald-Bold";
    color: var(--text-blue); 
    text-decoration: none;
    text-transform: uppercase;  
    margin: 10% 0;
    font-size: -webkit-xxx-large;

}

a:hover {
    color: rgba(55, 159, 238, 0.89);
}