
@import '../../../../styles/globals.scss';

.container {
    display: flex;
    flex-direction: row;
    padding: 5%;
    align-content: center;
    justify-content: center;
    align-items: center;

    .section-text {
        display: flex;
        flex-direction: column;
        padding: 5%;
        align-content: center;
        justify-content: flex-start;
        align-items: flex-start;
        font-family: "Oswald-Light";
        letter-spacing: 1px;

        .action-call {
            margin: 1% 0;
        }
    }
}

img {
    border-radius: 50%;
    max-width: 300px;
    box-shadow: -10px 11px 20px 0px grey;
}

h1 {
    font-family: "Oswald-Bold";
}

a {
    font-family: "Oswald-Bold";
    color: var(--text-blue); 
}

a:hover {
    color: var(--text-blue);
}

@media only screen and (max-width: $mobile--breakpoint-normal) {
    .container {
        display: flex;
        flex-direction: column;
        align-content: center;
        align-items: center;
        justify-content: center;
        
    }

    h1 {
        text-align: center;
    }
}

@media only screen and (max-width: $mobile--breakpoint-small) {
    img {
        max-width: 200px;
    }
}