<p>slider works!</p>



<div class="container"
        [style.background-image]="imgSource"
        >
    <!-- <img [src]="imgSource" 
        [@fade]="state" 
        (@fade.done)="onDone()"
        (click)="onClick()" width="100%" /> -->
    <div class="text">
        <h1>{{ 'landing-page.title' | translate }}</h1>
        <div>
            {{ 'landing-page.title-slogan' | translate }}
        </div>
    </div>
</div>

<!-- <mat-icon>home</mat-icon>
<span class="material-icons">home</span>
<mat-icon svgIcon="example"></mat-icon> -->