

<div class="container">

    <form [formGroup]="myForm" (ngSubmit)="onSubmit(myForm)" class="example-form">

        <mat-form-field appearance="fill">
          <!-- <label>Email</label> -->
          <input matInput class="example-full-width"
                  [formControl]="emailFormControl" 
                  [errorStateMatcher]="matcher" 
                  placeholder="Email"
                  type="email"
                  name="Email" >
          <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
            Adres email jest <strong>nieprawidłowy</strong>
          </mat-error>
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <label>Zadaj pytanie</label>
          <textarea #InputCustomMessage matInput 
                     matTextareaAutosize
                     name="Message"
                     formControlName="Message"  
                     >
          </textarea>
      </mat-form-field>


        <div class="row">
          <!-- <mat-icon svgIcon="envelope" ></mat-icon> -->
          <button type="submit" mat-raised-button>Send</button>
        </div>
        
      </form>
</div>