


<div class="container">
    <section>
        <div class="header"><h1>{{ 'offer-page.header-first'  |  translate}}</h1></div>
        <div class="content">{{ 'offer-page.content-first'  |  translate}}</div>
    </section>
    <section>
        <div class="header"><h1>{{ 'offer-page.header-second'  |  translate}}</h1></div>
        <div class="content">{{ 'offer-page.content-second'  |  translate}}</div>
    </section>
    <section>
        <div class="header"><h3>{{ 'offer-page.contact-quick-adress-info'  |  translate}}</h3></div>
    </section>
</div>