

.container {
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
    letter-spacing: 0.05em;

    .header {
        font-family: Oswald-Bold;
    }

    .content {
        font-family: Oswald-Light;
        padding: 3em;
    }
}

section {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    margin: 2em 0;
}
