
@import '../../../styles/globals.scss';


.container {
    display: flex;
    flex-direction: column;
    border-radius: 5% 5% 0 0;
    box-shadow: 0px 0px 20px 15px grey;
    margin: 0% 3%;
    

    .cards {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: 5% 0;
        padding: 1%;
    }
}

app-card:hover {
    box-shadow: -5px 10px 20px 0px grey;
}

@media only screen and (max-width: $mobile--breakpoint-normal) {
    .container {
    
        .cards {
            flex-direction: column;
            
        }
    }

    app-card {
        margin: 0 0 5% 0;
    }
}