
<div class="container">
    <div class="section">
        <div class="icon">
            <mat-icon [svgIcon]="svgName"
                        [style.fill]="fillValue" ></mat-icon>
        </div>
    </div>
    <div class="section">
        <div class="title">
            <h3>{{ 'example.lorem-ipsum-title'  |  translate}}</h3>
        </div>
    </div>
    <div class="section">
        <div class="content">

            {{ 'example.lorem-ipsum-full'  |  translate}}
        
        </div>
    </div>
</div>