
.container {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;

    .section {

        .icon {
            padding-top: 20%;
        }

        .title {
            font-family: "Oswald-Bold";
            text-transform: uppercase;
        }

        .content {
            font-family: "Oswald-Light";
            text-align: center;
            letter-spacing: 1px;
            padding: 0 5%;
        }
    }

    
}

mat-icon {
    width: 70px;
    height: 70px;
}