

<div class="container">
    <div class="section-header">
        <h1>{{ 'about-page.list-title'  |  translate}}</h1>
    </div>
    <div class="section-list">
        <ul>
            <li>{{ 'about-page.training-name-1'  |  translate}}</li>
            <li>{{ 'about-page.training-name-2'  |  translate}}</li>
            <li>{{ 'about-page.training-name-3'  |  translate}}</li>
            <li>{{ 'about-page.training-name-4'  |  translate}}</li>
            <li>{{ 'about-page.training-name-5'  |  translate}}</li>
        </ul>
    </div>
    <div class="section-qualifications">
        <div class="section-header">
            <h1>{{ 'about-page.qualifications'  |  translate}}</h1>
        </div>
        <div class="item">
            {{ 'about-page.qualification-1'  |  translate}}
        </div>
        <div class="item">
            {{ 'about-page.qualification-2'  |  translate}}
        </div>
    </div>
    <div class="section-header">
        <h1>{{ 'about-page.confirmed'  |  translate}}</h1>
        <a [href]="repProfileUrl" target="_blank"><img id="img-logo" [src]="repLogoSource"/></a>
    </div>
</div>