
@import '../../../styles/globals.scss';

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: $navbar--height;
    box-shadow: 2px 2px 2px black;
    position: sticky;
    align-content: center;
    align-items: center;
    padding: 0 4%;

    .pc-menu {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
    }

    .mobile-menu {
        position: relative;
        margin-right: 5%;

        .mobile-menu-content {
            position: absolute;
            right: 0;
            width: 170px;
            background-color: white;
            padding: .75rem;
            border-radius: .25rem;
            box-shadow: 0 2px 5px 0 rgba(0,0,0, .1);
            opacity: 0;

            transform:  translateY(-10px);
            transition: opacity 150ms ease-in-out, 
                        transform 150ms ease-in-out;
        }
    }
    
}

.mobile-menu > button:focus + .mobile-menu-content {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}

.mobile-menu-content.active {
    opacity: 1;
}

#img-logo {
    max-width: $navbar--logo-height;
    max-height: $navbar--logo-width;
}

button {
    width: auto;
    background-color: white;
    font-family: "Oswald-Light";
    border: none;
    font-size: 20px;
    font-weight: 400;
    text-transform: uppercase;
    white-space: nowrap;
    padding: 5% 20%;
    line-height: 1.618;
    margin: 0 2%;
}

button:hover {
    text-shadow: 0px 5px 5px grey;
}

a, a:visited{
    text-decoration: none;
    color: var(--text-blue);
}

@media only screen and (max-width: $mobile--breakpoint-normal) {

    .pc-menu {
        visibility: hidden;
        display: none !important;
    } 

}

@media only screen and (min-width: $mobile--breakpoint-normal) {

    .mobile-menu {
        visibility: hidden;
        display: none;
    }

}