

<div class="container">
    <div class="logo">
        <img id="img-logo" [src]="logoSource"/>
    </div>
    <div class="pages">
        <button (click)="navigateTo(pathLandingPage)"><a >{{ 'navbar.start' | translate }}</a></button>
        <button (click)="navigateTo(pathAboutPage)"><a>{{ 'navbar.about' | translate }}</a></button>
        <button (click)="navigateTo(pathOfferPage)"><a >{{ 'navbar.offer' | translate }}</a></button>
        <button (click)="navigateTo(pathContactPage)"><a >{{ 'navbar.contact' | translate }}</a></button>
    </div>
</div>