/* You can add global styles to this file, and also import other style files */

body {
    margin: 0;
    height: 100%;
    color: #3c4858;
    line-height: 1.618;
    
}

.sticky {
    background: #fff;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
}